@tailwind components;
@tailwind utilities;

* {
  margin: 0 auto;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(200, 209, 225);
  margin-top: 40px;
}

.inputContainer {
  padding: 10px 10px 10px 10px;
}

h1 {
  padding-left: 10px;
}

.main-container {
  background-color: #ffffff;
  padding: 32px 10px 32px 10px;
  min-height: 844px;
  width: 450px;
}

.done {
  text-decoration: line-through;
  opacity: 0.4;
  font-weight: lighter;
}

.done .icon {
  opacity: 0.5;
}

.todo-row {
  display: flex;
  margin-bottom: 8px;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  letter-spacing: 0.5px;
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid black;
}

.add-icon {
  color: rgb(0, 0, 0);
  font-size: 32px;
}

button {
  background: none;
  border: none;
}

.add-icon:active {
  opacity: 50%;
}

.icon {
  font-size: 28px;
}

.icon:active {
  opacity: 50%;
}

input {
  width: 100%;
  border-radius: 0.25rem;
  width: 100%;
  background-color: #e6e6e6;
  border: none;
}

input:focus {
  color: rgb(0, 0, 0);
  outline: black 1px solid;
}

input:focus::placeholder {
  color: transparent;
}
